/// ========================================================================
/// TOOLS
/// ========================================================================

// Mixin to create a declaration whose value is a rem unit w/ pixel fallback.
//
// .example {
//   @include rem(padding, 10px);
// }

@mixin rem($property, $value) {
  #{$property}: $value;
  #{$property}: rem($value);
}

// Layout mixin

@mixin layout($modifier) {
  @if ($modifier == 'inline') {
    display: inline-flex;
  }
  @else if ($modifier == 'vertical') {
    @include layout('');
    flex-direction: column;
  }
  @else if ($modifier == 'start') {
    align-items: flex-start;
  }
  @else if ($modifier == 'center') {
    align-items: center;
  }
  @else if ($modifier == 'start-justified') {
    justify-content: flex-start;
  }
  @else if ($modifier == 'center-justified') {
    justify-content: center;
  }
  @else if ($modifier == 'center-center') {
    @include layout(center);
    @include layout(center-justified);
  }
  @else {
    display: flex;
  }
}
