/// ========================================================================
/// ALIASES
/// ========================================================================

// Map some shorter aliases.

$unit:        $global-spacing-unit;
$unit-tiny:   $global-spacing-unit-tiny;
$unit-small:  $global-spacing-unit-small;
$unit-large:  $global-spacing-unit-large;
$unit-huge:   $global-spacing-unit-huge;
