/// ========================================================================
/// TYPOGRAPHY
/// ========================================================================

// Mixins to help generate typographic rules.




$typography-contrast: 0.87;
$typography-contrast-light: 0.54;

// Typography styles
@mixin typography-display-4($color-contrast: false) {
  letter-spacing: -0.04em;
  @include font-size(112px, 1);
  @include font-weight('light');

  @if $color-contrast {
    opacity: $typography-contrast-light;
  }
}

@mixin typography-display-3($color-contrast: false) {
  letter-spacing: -0.02em;
  @include font-size(56px, 1);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast-light;
  }
}

@mixin typography-display-2($color-contrast: false) {
  letter-spacing: -0.04em;
  @include font-size(45px, 48px);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast-light;
  }
}

@mixin typography-display-1($color-contrast: false) {
  letter-spacing: -0.04em;
  @include font-size(34px, 40px);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast-light;
  }
}

@mixin typography-headline($color-contrast: false) {
  @include font-size(24px, 32px);
  @include font-weight('regular');
  @include font-smoothing(on);

  @if $color-contrast {
    opacity: $typography-contrast;
  }
}

@mixin typography-title($color-contrast: false) {
  letter-spacing: 0.04em;
  @include font-size(20px, 1);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast;
  }
}

@mixin typography-subheading-2($color-contrast: false) {
  letter-spacing: 0.04em;
  @include font-size(16px, 28px);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast;
  }
}

@mixin typography-subheading-1($color-contrast: false) {
  letter-spacing: 0.04em;
  @include font-size(16px, 24px);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast;
  }
}

@mixin typography-body-2($color-contrast: false) {
  letter-spacing: 0;
  @include font-size(14px, 24px);
  @include font-weight('medium');

  @if $color-contrast {
    opacity: $typography-contrast;
  }
}

@mixin typography-body-1($color-contrast: false) {
  letter-spacing: 0;
  @include font-size(14px, 20px);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast;
  }
}

@mixin typography-caption($color-contrast: false) {
  @include font-size(12px, 1);
  @include font-weight('regular');

  @if $color-contrast {
    opacity: $typography-contrast-light;
  }
}

// Short-hand onto specific font-stacks.
@mixin font-family($family) {
  @if ($family == 'sans-serif') {
    font-family: 'Roboto', 'Noto', sans-serif;
  }
  @elseif ($family == 'serif') {
    font-family: 'Baskerville', 'Garamond', 'Palatino', 'Palatino Linotype', 'Hoefler Text', 'Times New Roman', serif;
  }
  @elseif ($family == 'performant') {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  @else {
    @warn '#{$family} is not a valid font-family.';
  }
}

// Generate font-size and baseline compatible line-height.
@mixin font-size($font-size, $line-height: auto) {
  @include rem(font-size, $font-size);

  @if ($line-height == auto) {
    line-height: ceil($font-size / $global-line-height) * ($global-line-height / $font-size);
  }
  @elseif unit($line-height) == 'px' {
    line-height: ($line-height / $font-size);
  }
  @else {
    @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
      line-height: $line-height;
    }
    @elseif ($line-height != none and $line-height != false) {
      @warn "`#{$line-height}` is not a valid value for `line-height`."
    }
  }
}

// Map keywords onto numbered weights
@mixin font-weight($weight) {
  @if ($weight == 'light') {
    font-weight: 300;
  }
  @elseif ($weight == 'regular') {
    font-weight: 400;
  }
  @elseif ($weight == 'medium') {
    font-weight: 700;
  }
  @else {
    @warn '`#{$weight}` is not a valid font-weight.'
  }
}

// Influence browser text-rendering
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}





// @TODO move to helpers
@mixin typography-style($style) {

  @if ($style == 'Title') {
    @include rem(font-size, 24px);
    font-weight: 500;
  }

}
