<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background-color: #f76303"></span>
    <span class="sg-label">
      Mandarin
    </span>
    <span class="sg-details">
      $color-core-mandarin<br>
      #F76303 100%<br>
      rgb(247, 99, 3)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background-color: #4a1f50"></span>
    <span class="sg-label">
      Grape
    </span>
    <span class="sg-details">
      $color-core-grape<br>
      #4A1F50 100%<br>
      rgb(74, 31, 80)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background-color: #000000"></span>
    <span class="sg-label">
      Liquorice
    </span>
    <span class="sg-details">
      $color-core-liquorice<br>
      #000000 100%<br>
      rgb(0, 0, 0)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background-color: #1778ea"></span>
    <span class="sg-label">
      Blueberry
    </span>
    <span class="sg-details">
      $color-core-blueberry<br>
      #1778EA 100%<br>
      rgb(23, 120, 234)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background-color: #f6a623"></span>
    <span class="sg-label">
      Mustard
    </span>
    <span class="sg-details">
      $color-core-mustard<br>
      #F6A623 100%<br>
      rgb(246, 166, 35)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background-color: #d0011b"></span>
    <span class="sg-label">
      Tomato
    </span>
    <span class="sg-details">
      $color-core-tomato<br>
      #D0011B 100%<br>
      rgb(208, 1, 27)
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background-color: #62b55f"></span>
    <span class="sg-label">
      Grannysmith
    </span>
    <span class="sg-details">
      $color-core-grannysmith<br>
      #62B55F 100%<br>
      rgb(98, 181, 95)
    </span>
  </li>
</ul>
