<button class="c-button  c-button--neutral">Button Neutral
  <svg aria-hidden="true" class="c-button__icon  c-button__icon--right">
    <use xlink:href={{ icons.utility.check.svg }}></use>
  </svg></button>
