
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script type="text/javascript" src="/assets/scripts/vendor/tinycolor.js"></script>
  <script type="text/javascript" src="/assets/scripts/tokenColor.js"></script>
</body>
</html>
