@charset "UTF-8";
/**
 * CONTENTS
 *
 * SETTINGS
 * All..................No CSS produced.
 *
 * TOOLS
 * All..................No CSS produced.
 *
 * GENERICS
 * Box-sizing...........Better default `box-sizing`.
 *
 * ELEMENTS
 * App..................App-level styles (HTML element).
 * Images...............Base image styles.
 *
 * OBJECTS
 * Wrappers.............Wrappers and app constraints.
 * Layout...............Generic layout module.
 * Main-content.........Main app content.
 *
 * COMPONENTS
 * App-head.............App header styles.
 * Logo.................Reusable logo component.
 * Banner...............Banner styles.
 * Headings.............Headings styles.
 * Buttons..............Button styles.
 * Text-fields..........Text field styles.
 * Card.................Self-contained card with data.
 * Sign-in..............Sign-in component.
 *
 * SCOPES
 * Prose................Styling context for long-format text.
 *
 * THEMES
 * Default..............Default theme for the app.
 *
 * HELPERS
 * Headings.............Reassign heading styles to helper classes.
 * Widths...............Width helper classes.
 * Healthcheck..........Visual health-check tool.
 * Debug................Highlight potential troublesome code.
 * Shame.css............Short-term hacks and quick-fixes.
 */
/* from http://codepen.io/shyndman/pen/c5394ddf2e8b2a5c9185904b57421cdb */
html {
  box-sizing: content-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 0.875em;
  font-family: 'Roboto', 'Noto', sans-serif;
  height: 100%; }

body {
  min-height: 100vh;
  margin: 0;
  height: 100%;
  line-height: 1.42857;
  letter-spacing: normal;
  text-size-adjust: 100%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    body {
      min-height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    body {
      min-height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    body {
      min-height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    body {
      min-height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    body {
      min-height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    body {
      min-height: 320px; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 17.5px;
  font-size: 1.25rem; }

#app {
  min-height: 100vh;
  display: block;
  position: relative;
  height: 100%;
  background-color: #eeeeee; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    #app {
      min-height: 1024px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    #app {
      min-height: 768px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
    #app {
      min-height: 480px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
    #app {
      min-height: 320px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    #app {
      min-height: 568px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1) and (device-width: 320px) and (device-height: 568px) and (orientation: landscape) {
    #app {
      min-height: 320px; } }

img {
  max-width: 100%;
  vertical-align: middle;
  font-style: italic; }

.o-wrapper {
  position: relative;
  z-index: 2; }

.o-layout--inline {
  display: inline-flex; }

.o-layout--horizontal,
.o-layout--vertical {
  display: flex; }

.o-layout--horizontal {
  flex-direction: row; }

.o-layout--vertical {
  flex-direction: column; }

.o-layout--center,
.o-layout--center-center {
  align-items: center; }

.o-layout--center-justified,
.o-layout--center-center {
  justify-content: center; }

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: #4a1f50;
  font: inherit;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  outline-width: 0;
  border: none;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  height: 40px;
  padding: 0 20px;
  margin: 0;
  min-width: 80px;
  color: #ffffff; }
  .c-btn--primary {
    background-color: #f76303; }
  .c-btn--quiet {
    color: #f76303;
    background-color: #fddfcc; }
  .c-btn--negative {
    color: rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: solid 2px rgba(0, 0, 0, 0.5); }
  .c-btn--mini {
    height: 24px;
    padding: 0 12px;
    font-size: 12px; }
  .c-btn--small {
    height: 32px;
    padding: 0 16px;
    font-size: 14px; }
  .c-btn--large {
    height: 48px;
    padding: 0 24px;
    font-size: 18px; }
  .c-btn--huge {
    height: 64px;
    padding: 0 32px;
    font-size: 20px; }

.c-btn-federated {
  justify-content: flex-start;
  width: 220px;
  text-align: left;
  font-size: 14px;
  padding: 0 16px; }
  .c-btn-federated--facebook {
    background-color: #3b5998; }
  .c-btn-federated--google {
    color: #757575;
    background-color: #fff; }
  .c-btn-federated__icon {
    height: 18px;
    width: 18px; }
  .c-btn-federated__text {
    padding-left: 16px; }

.c-textfield {
  position: relative; }
  .c-textfield__input {
    display: inline-block;
    color: #000000;
    background-color: #ffffff;
    border: solid 2px #9b9b9b;
    border-radius: 6px;
    box-sizing: border-box;
    height: 50px;
    width: 220px;
    padding: 12px 16px 0;
    outline-width: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px; }
    .c-textfield__input:focus {
      border-color: #000000; }
    .c-textfield__input:focus + .c-textfield__label, .c-textfield__input:valid + .c-textfield__label {
      transform: translate(0, -50%) scale(0.75);
      transform-origin: top left;
      transition: transform 0.1s ease-in, color 0.1s ease-in;
      font-style: normal; }
  .c-textfield__label {
    position: absolute;
    top: 18px;
    left: 18px;
    color: #4a4a4a;
    font-style: italic;
    line-height: 1; }

.c-sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%; }
  .c-sign-in__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .c-sign-in__title {
    letter-spacing: 0.04em;
    font-size: 20px;
    font-size: 1.42857rem;
    line-height: 1;
    font-weight: 400;
    padding: 24px 16px; }
  .c-sign-in__list {
    list-style: none;
    margin: 16px 0;
    padding: 0; }
    .c-sign-in__list-item {
      margin-bottom: 16px;
      text-align: center; }
      .c-sign-in__list-item:last-child {
        margin-bottom: 0; }
  .c-sign-in__password .c-textfield__input {
    padding-right: 64px; }
  .c-sign-in__password-forgot {
    position: absolute;
    top: 18px;
    right: 8px;
    line-height: 1; }
  .c-sign-in__submit {
    width: 100%; }
  .c-sign-in a {
    color: #1778ea;
    text-decoration: none; }

/**
 * Rules of Shame
 *
 * 1. If it’s a hack, it goes here.
 * 2. Document all hacks _fully_:
 *     1. What part of the codebase does it relate to?
 *     2. Why was this needed?
 *     3. How does this fix it?
 *     4. How might you fix it properly given more time?
 * 3. Do not blame the developer; if they explained why they had to do it,
 *    then their reasons are probably (hopefully) valid.
 * 4. Try to clean shame.css up when you have some down time.
 *     1. Even better, get a tech-debt story in which you can dedicate
 *        actual sprint time to it.
 */
/**
 * HTML5 hidden attribute fix.
 *
 * This hack relates to browser support for the HTML5 hidden attribute.
 * The hack is needed to support otherwise unsupported browsers, such as
 * IE 10, IE Mobile 10, and Blackberry Browser, and will work back to IE 6.
 * By adding adding `hidden` as an attribute selector, we can hide the
 * element with CSS when the browser doesn’t natively do it. The hack can
 * safely be removed when the codebase shouldn’t support the unsupported
 * browsers.
 *
 * Frederik Krautwald <fkrautwald@sparks.network>
 */
[hidden] {
  display: none; }
