/// ========================================================================
/// SIGN IN
/// ========================================================================

.c-sign-in {
  // Background & Borders
  background-color: rgba($color-black, 0.54);

  // Basic Box
  margin: 0 auto $unit;
  width: 304px;
}

  .c-sign-in__submit-btn {
    // Background & Borders
    background-color: $color-azul;

    // Color
    color: $color-white;

    // Basic Box
    margin: $unit-small auto 0;
    width: 100%;
  }
