/// ========================================================================
/// TEXT FIELDS
/// ========================================================================

$text-field-border: 2px;

.c-text-field {
  // Basic Box
  margin-bottom: $unit-small;

  // Fonts
  @include rem(font-size, 16px);
}

  .c-text-field__input {
    // Background & Borders
    border: $text-field-border solid $color-grey-light;
    border-radius: $global-radius;

    // Basic Box
    padding: ($unit - $text-field-border) ($unit-large - $text-field-border);
    width: 100%;

    // Fonts
    @include font-family('performant');
    font-size: inherit;
  }
