/// ========================================================================
/// APP HEAD
/// ========================================================================

.c-app-head {
  // Basic Box
  display: flex;
  height: ($unit-large * 3);
  padding: 0 $unit-small;

  // Flexible Box Layout
  align-items: center;
  justify-content: space-between;

  &.c-app-head--centered {
    // Flexible Box Layout
    justify-content: center;
  }
}
