/// ========================================================================
/// COLORS
/// ========================================================================

// Color palette.

$color-core-mandarin:     #f76303;
$color-core-grape:        #4a1f50;
$color-core-liquorice:    #000000;
$color-core-blueberry:    #1778ea;
$color-core-mustard:      #f6a623;
$color-core-tomato:       #d0011b;
$color-core-grannysmith:  #62b55f;

// Tints.

$color-core-mandarin-70:    rgba($color-core-mandarin, 0.7);
$color-core-grape-70:       rgba($color-core-grape, 0.7);
$color-core-liquorice-70:   rgba($color-core-liquorice, 0.7);
$color-core-blueberry-70:   rgba($color-core-blueberry, 0.7);
$color-core-mustard-70:     rgba($color-core-mustard, 0.7);
$color-core-tomato-70:      rgba($color-core-tomato, 0.7);
$color-core-grannysmith-70: rgba($color-core-grannysmith, 0.7);

$color-core-mandarin-50:    rgba($color-core-mandarin, 0.5);
$color-core-grape-50:       rgba($color-core-grape, 0.5);
$color-core-liquorice-50:   rgba($color-core-liquorice, 0.5);
$color-core-blueberry-50:   rgba($color-core-blueberry, 0.5);
$color-core-mustard-50:     rgba($color-core-mustard, 0.5);
$color-core-tomato-50:      rgba($color-core-tomato, 0.5);
$color-core-grannysmith-50: rgba($color-core-grannysmith, 0.5);

$color-core-mandarin-20:    rgba($color-core-mandarin, 0.2);
$color-core-grape-20:       rgba($color-core-grape, 0.2);
$color-core-liquorice-20:   rgba($color-core-liquorice, 0.2);
$color-core-blueberry-20:   rgba($color-core-blueberry, 0.2);
$color-core-mustard-20:     rgba($color-core-mustard, 0.2);
$color-core-tomato-20:      rgba($color-core-tomato, 0.2);
$color-core-grannysmith-20: rgba($color-core-grannysmith, 0.2);

// Neutral colors.

$color-neutral-white:     #ffffff;
$color-neutral-fog:       #eeeeee;
