/// ========================================================================
/// COLORS
/// ========================================================================

// Color palette.

$color-core-mandarin:     #f76303;
$color-core-grape:        #4a1f50;
$color-core-liquorice:    #000000;
$color-core-blueberry:    #1778ea;
$color-core-mustard:      #f6a623;
$color-core-tomato:       #d0011b;
$color-core-grannysmith:  #62b55f;

$color-neutral-white:     #ffffff;
$color-neutral-fog:       #eeeeee;
