<button class="c-button  c-button--neutral">
  <svg aria-hidden="true" class="c-button__icon  c-button__icon--left">
    <use xlink:href={{ icons.utility.download.svg }}></use>
  </svg>Button Neutral</button>