<div id="app-container">
  <div class="u-grid  u-grid--vertical  u-grid--vertical-align-center  u-grid--horizontal-align-center  u-p-horizontal--x-small"
       style="min-height: 100%;">

    <div class="c-logo  u-m-top--small  u-m-bottom--large">
      sparks<span class="c-logo__tld">.network</span>
    </div>

    <h1 class="u-text-title--large  u-m-bottom--x-large">Connect</h1>

    <article class="c-card">
      <header class="c-card__header">
        <h2 class="u-text-headline  u-text-align--center">Use your preferred social&nbsp;account</h2>
      </header>
      <div class="c-card__body">
        <div class="c-card__body--inner  u-grid  u-grid--align-spread">
          <button class="c-button  c-button--google">
            <svg aria-hidden="true" class="c-button__icon  c-button__icon--large  c-button__icon--left">
              <use xlink:href="{{& icons.social.google2.svg }}"></use>
            </svg>Google</button>

          <button class="c-button  c-button--facebook">
            <svg aria-hidden="true" class="c-button__icon  c-button__icon--large  c-button__icon--left">
              <use xlink:href="{{& icons.social.facebook2.svg }}"></use>
            </svg>Facebook</button>
        </div>
      </div>
      <footer class="c-card__footer">
        <p class="u-text-footnote  u-text-align--center">We’ll never post without your&nbsp;permission.</p>
      </footer>
    </article>

    <p class="u-m-top--small">
      <a class="c-button" href="/connect-email">I’d rather use my email</a>
    </p>

  </div>
<div>
