/// ========================================================================
/// IMAGES
/// ========================================================================

img {
  // Basic Box
  max-width: 100%;
  vertical-align: middle;

  // Fonts
  font-style: italic;
}
