/// ========================================================================
/// UTILITIES TEXT COLOR
/// ========================================================================

.u-text-color--default {
  color: $color-text-default;
}

.u-text-color--weak {
  color: $color-text-weak;
}

.u-text-color--error {
  color: $color-text-error;
}
