/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.sg-pattern-category-body {
  font-size: 100%;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

[class*=sg-text-heading] {
  margin-bottom: 1rem;
}

[class*=sg-text-heading]:last-child {
  margin-bottom: 0;
}

[class*=sg-text-heading] {
  font-weight: 400;
  line-height: 1.25;
  color: #47124F;
}

[class*=sg-text-heading]:first-child {
  margin-top: 0;
}

[class*=sg-text-heading--label] {
  font-size: .75rem;
  text-transform: uppercase;
}
