/// ========================================================================
/// TOKENS BORDER
/// ========================================================================

$border-width-thin: 1px;
$border-width-thick: 2px;

$border-radius-small: .125rem;

$border-radius-medium: .25rem;
/// Icons in lists, record home button, unbound input elements.

$border-radius-large: .5rem;

$border-radius-pill: 15rem;

$border-radius-circle: 50%;
/// Circle for global use, action icon shape.

$color-border: $blueberry-geysir;
/// Default color border for UI elements.
