/// ========================================================================
/// DESIGN TOKENS BASE SIZING
/// ========================================================================

$square-icon-utility-large: 1.5rem;
/// Large utility icon without border.

$square-icon-medium-boundary: 2rem;
/// Medium icon button boundary

$square-icon-medium-content-alt: .875rem;
/// Alt medium icons in icon buttons.

$square-icon-small-boundary: 1.5rem;
/// Small icon button boundary.

$square-icon-small-content: .75rem;
/// Small icons in icon buttons.

$square-icon-x-small-boundary: 1.25rem;
/// Very small icon button boundary.

$square-icon-x-small-content: .5rem;
/// Very small icons in icon buttons.

$square-icon-xx-small-boundary: 1rem;
/// Very small icon button boundary.
